.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
generated_resources.tf
*.tfvars
!*.tfvars.example
scripts/inventory/output/
